/* 基础布局 */
#layout {
  display: flex;
  height: 100vh;
}
aside {
  width: 300px;
}
main {
  flex-grow: 1;
}


/* aside */
aside {
  display: flex;
  flex-direction: column;
}
#asideTitle {
  padding: 10px 20px;
}
#asideSongList {
  flex-grow: 1;
}


/* main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#dragArea {
  padding: 200px;
  border: 8px dashed #ddd;
  cursor: pointer;
}